section h1{
    color: black;
    padding: 20px;
    text-align: center;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
}

li{
    font-size: 20px;
    line-height: 40px;
    padding: 20px;
    display: inline-block;
}

a{
    text-decoration: none;
}

ul{
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p{
    padding: 50px;
    font-size: 20px;
}

img{
    width: 500px;
}