@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

body{
    font-family: Helvetica, sans-serif;
}

ul{
    border: 1px solid black;
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
    display: flex;
    text-align: center;
}

li{
    padding: 20px;
    margin: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
}