/* It is important to always have a defined container when working
with flex, as it aimes to change the 
way they appear within the container. */

.container{
    border: 2px dashed black;
    display: flex;
    flex-direction: row;

    /* Using flex-wrap we can define how the elements behave when
    there is not enough space for them on a single row */
    /* flex-wrap: wrap; */
}

.container .item{
    width: 300px;
}