
.nav-item{
    list-style-type: none;
    margin: 10px;
}

.nav-item a{
    color: red;
    text-decoration: none;
}

.buttons-ctr .single-button{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 8px;
}

.checkout{
    background-color: #83a94c;
}

.info{
    background-color: #008ed0;
}

.delete{
    background-color: #cc4036;
}

i{
    font-size: 18px;
    margin-right: 6px;
}