section article header h1{
text-size-adjust: 28px;
}

section article header p{
font-style: italic;
}

section article p {
    text-size-adjust: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

