.grid-layout .grid-item:nth-child(1){
    background-color: #845ec2;
}

.grid-layout .grid-item:nth-child(2){
    background-color: #d65db1;
}

.grid-layout .grid-item:nth-child(3){
    background-color: #ff6f91;
}

.grid-layout .grid-item:nth-child(4){
    background-color: #ff9671;
}

.grid-layout .grid-item:nth-child(5){
    background-color: #ffc75f;
}

.grid-layout .grid-item:nth-child(6){
    background-color: #008f7a;
}

/* With the repeat we can say how many columns we want and what size
do we want the to be, instead of manually typing each one. */

/* Regarding FR and GAP - when dealing with grid elements, it is better
to use fr for the size instead of px or percent, because if we ever 
want to place a gap between the elements they will be rearranged. */
.grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}